@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

nav {
  height: 10vh;
  font-family: sans-serif;
  background: transparent;
  /* background: transparent; */
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 550px) {
  .line {
    width: 30px;
    height: 3px;
    background: #000;
    margin: 5px;
    transition: background-color 2s ease;
    mix-blend-mode: difference;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100vh;
    flex-direction: column;
    justify-content: center;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    z-index: 1;
  }
  .nav-links.open {
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path: circle(1200px at 90% -10%);
  }
  .nav-links li {
    width: 30%;
    margin: 30px;
    /* background: red; */
  }
  .nav-links li a {
    color: #fff;
    font-size: 30px;
  }
}
.section1 h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #000;
  margin-left: 2em;
  margin-top: 1em;
}

.section2 {
  color: white;
  background: #000;
  border: none;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.1em;
  width: 100vw;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}
.section2 .empty {
  width: auto;
  height: 8em;
}

.block {
  margin-top: 10em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.block .item {
  margin: 1em;
}
.block .detail {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.block .box {
  position: relative;
  width: 35%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.block .box .screenshot {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #fff;
  visibility: hidden;
}
.block .box .screenshot img {
  position: absolute;
  width: 100%;
  height: 0%;
  transition: 0.5s;
}
.block .box:hover .screenshot {
  visibility: visible;
}
.block .box:hover .screenshot img {
  height: 100%;
  transition: 0.5s;
}
.block .box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.block .box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(20px);
}
.block .zero::before,
.block .zero::after {
  background: linear-gradient(235deg, #56ab2f, #000, #a8e063);
}
.block .first::before,
.block .first::after {
  background: linear-gradient(235deg, #ff0057, #000, #f75321);
}
.block .second::before,
.block .second::after {
  background: linear-gradient(235deg, #89ff00, #000, #19d2e6);
}
.block .third::before,
.block .third::after {
  background: linear-gradient(235deg, #ff07b0, #000, #5d02ff);
}
.block .content {
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
.block .content p {
  margin: 1em 0;
}
.block .content a {
  position: relative;
  border: 1px solid white;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1.5em;
}

.white {
  transition: background-color 2s ease;
  background-color: #fff;
}/*# sourceMappingURL=projects.css.map */